body {
  background: #000;
}

.main-background {
  background-image: url(../_assets/featured/bg7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -100;
  position: fixed;
}

.container {
  max-width: 1280px;
}

header {
  position: fixed;
  z-index: 10;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 180%
  );
}

.menu {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--white);
  font-size: 1rem;
  height: 6rem;
  font-weight: 500;
}

.menu-active {
  font-weight: 700;
  color: var(--white) !important;
}

.menu ul {
  margin-left: 4rem;
  display: flex;
}

.menu li {
  padding-left: 4rem;
  list-style-type: none;
  color: var(--grey-light);
  transition: 0.3s;
}

.menu li:hover {
  color: var(--white);
  cursor: pointer;
}

.menu li:nth-child(1) {
  padding-left: 0;
}

.featured-info {
  width: 30vw;
  color: var(--white);
  width: 40vw;
  margin: 24vh 0 0 4rem;
  text-shadow: 2px 3px 18px rgba(0, 0, 0, 0.32);
}

.featured-info-details {
  display: flex;
  margin-top: 2rem;
}

.featured-info-details p {
  padding-right: 2rem;
  font-size: 1rem;
}

.featured-info-details p:nth-child(1) {
  color: var(--white);
}

.featured-info-details p:nth-child(2) {
  color: var(--green);
  font-weight: 600;
}

.featured-info-details p:nth-child(3) {
  color: var(--white);
}

.features-info-actions {
  position: relative;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.features-info-actions img {
  margin-left: 2rem;
  width: 3.2rem;
  height: 3.2rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.features-info-actions img:hover {
  width: 3.6rem;
  height: 3.6rem;
}

.features-info-actions-plus {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-info-actions-plus-box {
  position: absolute;
  left: 7.6rem;
  bottom: 4.8rem;
  background: var(--white);
  border-radius: 0.4rem;
  margin: 1.2rem 2rem 0 0;
  transition: 0.7s;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 8px 24px;
  padding: 1rem 2.8rem;
  visibility: hidden;
  opacity: 0;
}

.features-info-actions-plus-box.active {
  visibility: visible;
  opacity: 1;
}

.features-info-actions-plus-box::after {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  right: calc(50% - 0.4rem);
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.features-info-actions-plus-box a {
  text-align: center;
  width: 100%;
  display: block;
  list-style: none;
  padding: 0.4rem 0;
  border-bottom: 0;
  font-size: 1rem;
}

.titles-wrap {
  margin: 4rem 0 0 4rem;
}

.titles-wrap h3 {
  color: var(--white);
  margin-bottom: 1.6rem;
}

.titles-wrap-list {
  display: flex;
  height: 20rem;
}

.titles-wrap-list div {
  margin-right: 1.2rem;
}

.titles-wrap-list img {
  width: 200px;
  border-radius: 0.4rem;
  transition: 0.2s ease-in-out;
  filter: brightness(80%);
}

.titles-wrap-list img:hover {
  filter: brightness(100%);
}
